www/Chambix/WEB_Chambix/Connected Services/ServicioDistrito/ServicioDistrito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioDistrito.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" />
  <xs:element name="GetAllDistritos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDistritosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Chambix" minOccurs="0" name="GetAllDistritosResult" nillable="true" type="q1:ArrayOfDistritoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>