www/Chambix/WEB_Chambix/Connected Services/ServicioDistrito/ServicioDistrito2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Chambix" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDistritoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistritoBE" nillable="true" type="tns:DistritoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistritoBE" nillable="true" type="tns:ArrayOfDistritoBE" />
  <xs:complexType name="DistritoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDistrito" type="xs:short" />
      <xs:element minOccurs="0" name="nombreDistrito" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistritoBE" nillable="true" type="tns:DistritoBE" />
</xs:schema>