www/Chambix/WEB_Chambix/Connected Services/ServicioTestimonioAz/ServicioTestimonio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Chambix" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TestimonioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="create_at" type="xs:dateTime" />
      <xs:element minOccurs="0" name="create_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionTestimonio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoTestimonio" type="xs:boolean" />
      <xs:element minOccurs="0" name="idPost" type="xs:int" />
      <xs:element minOccurs="0" name="idTestimonio" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="tituloTestimonio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="update_at" type="xs:dateTime" />
      <xs:element minOccurs="0" name="update_by" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestimonioBE" nillable="true" type="tns:TestimonioBE" />
  <xs:complexType name="ArrayOfTestimonioBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestimonioBE" nillable="true" type="tns:TestimonioBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestimonioBE" nillable="true" type="tns:ArrayOfTestimonioBE" />
</xs:schema>