www/Chambix/WEB_Chambix/Connected Services/ServicioSubCategoria/ServicioSubCategoria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Chambix" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSubCategoriaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubCategoriaBE" nillable="true" type="tns:SubCategoriaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubCategoriaBE" nillable="true" type="tns:ArrayOfSubCategoriaBE" />
  <xs:complexType name="SubCategoriaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="create_at" type="xs:dateTime" />
      <xs:element minOccurs="0" name="create_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:short" />
      <xs:element minOccurs="0" name="idSubCategoria" type="xs:short" />
      <xs:element minOccurs="0" name="nombreSubCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="update_at" type="xs:dateTime" />
      <xs:element minOccurs="0" name="update_by" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubCategoriaBE" nillable="true" type="tns:SubCategoriaBE" />
</xs:schema>