www/Chambix/WEB_Chambix/Connected Services/ServicioTestimonio/ServicioTestimonio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioTestimonio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServicioTestimonio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioTestimonio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioTestimonio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioTestimonio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioTestimonio_InsertTestimonio_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTestimonio" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_InsertTestimonio_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTestimonioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_UpdateTestimonio_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTestimonio" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_UpdateTestimonio_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTestimonioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_DeleteTestimonio_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTestimonio" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_DeleteTestimonio_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTestimonioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetTestimonio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestimonio" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetTestimonio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestimonioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetAllTestimonioId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestimonioId" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetAllTestimonioId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestimonioIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetContarTestimonio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContarTestimonio" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetContarTestimonio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContarTestimonioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetContarTestimonioIdUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContarTestimonioIdUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetContarTestimonioIdUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContarTestimonioIdUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioTestimonio">
    <wsdl:operation name="InsertTestimonio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/InsertTestimonio" message="tns:IServicioTestimonio_InsertTestimonio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/InsertTestimonioResponse" message="tns:IServicioTestimonio_InsertTestimonio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTestimonio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/UpdateTestimonio" message="tns:IServicioTestimonio_UpdateTestimonio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/UpdateTestimonioResponse" message="tns:IServicioTestimonio_UpdateTestimonio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTestimonio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/DeleteTestimonio" message="tns:IServicioTestimonio_DeleteTestimonio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/DeleteTestimonioResponse" message="tns:IServicioTestimonio_DeleteTestimonio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestimonio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/GetTestimonio" message="tns:IServicioTestimonio_GetTestimonio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/GetTestimonioResponse" message="tns:IServicioTestimonio_GetTestimonio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTestimonioId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/GetAllTestimonioId" message="tns:IServicioTestimonio_GetAllTestimonioId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/GetAllTestimonioIdResponse" message="tns:IServicioTestimonio_GetAllTestimonioId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContarTestimonio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/GetContarTestimonio" message="tns:IServicioTestimonio_GetContarTestimonio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/GetContarTestimonioResponse" message="tns:IServicioTestimonio_GetContarTestimonio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContarTestimonioIdUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/GetContarTestimonioIdUsuario" message="tns:IServicioTestimonio_GetContarTestimonioIdUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/GetContarTestimonioIdUsuarioResponse" message="tns:IServicioTestimonio_GetContarTestimonioIdUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioTestimonio" type="tns:IServicioTestimonio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/InsertTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/UpdateTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/DeleteTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/GetTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTestimonioId">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/GetAllTestimonioId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContarTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/GetContarTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContarTestimonioIdUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/GetContarTestimonioIdUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServicioTestimonio" type="tns:IServicioTestimonio">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServicioTestimonio_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/InsertTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/UpdateTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/DeleteTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/GetTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTestimonioId">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/GetAllTestimonioId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContarTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/GetContarTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContarTestimonioIdUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/GetContarTestimonioIdUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioTestimonio">
    <wsdl:port name="BasicHttpBinding_IServicioTestimonio" binding="tns:BasicHttpBinding_IServicioTestimonio">
      <soap:address location="http://chambixwcf20210708224304.azurewebsites.net/ServicioTestimonio.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServicioTestimonio" binding="tns:BasicHttpsBinding_IServicioTestimonio">
      <soap:address location="https://chambixwcf20210708224304.azurewebsites.net/ServicioTestimonio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>