www/Chambix/WEB_Chambix/Connected Services/ServicioTestimonio/ServicioTestimonio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioTestimonio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" />
  <xs:element name="InsertTestimonio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:short" />
        <xs:element minOccurs="0" name="idPost" type="xs:short" />
        <xs:element minOccurs="0" name="tituloTestimonio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcionTestimonio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTestimonioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTestimonioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTestimonio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Chambix" minOccurs="0" name="objTestimonioBE" nillable="true" type="q1:TestimonioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTestimonioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTestimonioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestimonio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTestimonio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTestimonioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTestimonioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestimonio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTestimonio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestimonioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Chambix" minOccurs="0" name="GetTestimonioResult" nillable="true" type="q2:TestimonioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestimonioId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPost" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestimonioIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Chambix" minOccurs="0" name="GetAllTestimonioIdResult" nillable="true" type="q3:ArrayOfTestimonioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContarTestimonio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContarTestimonioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContarTestimonioResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContarTestimonioIdUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContarTestimonioIdUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContarTestimonioIdUsuarioResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>