www/Chambix/WEB_Chambix/Connected Services/ServicioUsuario/ServicioUsuario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Chambix" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cellUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenaUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="create_at" type="xs:dateTime" />
      <xs:element minOccurs="0" name="create_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoUsuario" type="xs:short" />
      <xs:element minOccurs="0" name="idDistrito" type="xs:short" />
      <xs:element minOccurs="0" name="idTipoCuenta" type="xs:short" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:short" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ocupacionUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rankUsuario" type="xs:short" />
      <xs:element minOccurs="0" name="tiempoCuenta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tipoUsuario" type="xs:short" />
      <xs:element minOccurs="0" name="update_at" type="xs:dateTime" />
      <xs:element minOccurs="0" name="update_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wspUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBE" nillable="true" type="tns:UserBE" />
  <xs:complexType name="ArrayOfUserBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBE" nillable="true" type="tns:UserBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBE" nillable="true" type="tns:ArrayOfUserBE" />
</xs:schema>