www/Chambix/WEB_Chambix/Connected Services/ServicioUsuario/ServicioUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServicioUsuario_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioUsuario_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_LogicDeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LogicDeleteUser" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_LogicDeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogicDeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetAllUsersClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersClients" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetAllUsersClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetAllUsersProfesionals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersProfesionals" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetAllUsersProfesionals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersProfesionalsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetAllUsersAdmins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersAdmins" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetAllUsersAdmins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetContarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IServicioUsuario_GetContarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContarUsuariosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioUsuario">
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/InsertUser" message="tns:IServicioUsuario_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/InsertUserResponse" message="tns:IServicioUsuario_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/UpdateUser" message="tns:IServicioUsuario_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/UpdateUserResponse" message="tns:IServicioUsuario_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogicDeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/LogicDeleteUser" message="tns:IServicioUsuario_LogicDeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/LogicDeleteUserResponse" message="tns:IServicioUsuario_LogicDeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/GetUser" message="tns:IServicioUsuario_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/GetUserResponse" message="tns:IServicioUsuario_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/GetAllUsers" message="tns:IServicioUsuario_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/GetAllUsersResponse" message="tns:IServicioUsuario_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/GetAllUsersClients" message="tns:IServicioUsuario_GetAllUsersClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/GetAllUsersClientsResponse" message="tns:IServicioUsuario_GetAllUsersClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersProfesionals">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/GetAllUsersProfesionals" message="tns:IServicioUsuario_GetAllUsersProfesionals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/GetAllUsersProfesionalsResponse" message="tns:IServicioUsuario_GetAllUsersProfesionals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersAdmins">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/GetAllUsersAdmins" message="tns:IServicioUsuario_GetAllUsersAdmins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/GetAllUsersAdminsResponse" message="tns:IServicioUsuario_GetAllUsersAdmins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUsuario/GetContarUsuarios" message="tns:IServicioUsuario_GetContarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUsuario/GetContarUsuariosResponse" message="tns:IServicioUsuario_GetContarUsuarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioUsuario" type="tns:IServicioUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogicDeleteUser">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/LogicDeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersClients">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetAllUsersClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersProfesionals">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetAllUsersProfesionals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersAdmins">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetAllUsersAdmins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetContarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServicioUsuario" type="tns:IServicioUsuario">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServicioUsuario_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogicDeleteUser">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/LogicDeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersClients">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetAllUsersClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersProfesionals">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetAllUsersProfesionals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersAdmins">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetAllUsersAdmins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServicioUsuario/GetContarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioUsuario">
    <wsdl:port name="BasicHttpBinding_IServicioUsuario" binding="tns:BasicHttpBinding_IServicioUsuario">
      <soap:address location="http://chambixwcf20210708224304.azurewebsites.net/ServicioUsuario.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServicioUsuario" binding="tns:BasicHttpsBinding_IServicioUsuario">
      <soap:address location="https://chambixwcf20210708224304.azurewebsites.net/ServicioUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>