www/Chambix/WEB_Chambix/Connected Services/ServicioTestimonioLc/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioTestimonio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioTestimonio_InsertTestimonio_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTestimonio" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_InsertTestimonio_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTestimonioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_UpdateTestimonio_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTestimonio" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_UpdateTestimonio_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTestimonioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_DeleteTestimonio_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTestimonio" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_DeleteTestimonio_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTestimonioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetTestimonio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestimonio" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetTestimonio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestimonioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetAllTestimonio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestimonio" />
  </wsdl:message>
  <wsdl:message name="IServicioTestimonio_GetAllTestimonio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestimonioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioTestimonio">
    <wsdl:operation name="InsertTestimonio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/InsertTestimonio" message="tns:IServicioTestimonio_InsertTestimonio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/InsertTestimonioResponse" message="tns:IServicioTestimonio_InsertTestimonio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTestimonio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/UpdateTestimonio" message="tns:IServicioTestimonio_UpdateTestimonio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/UpdateTestimonioResponse" message="tns:IServicioTestimonio_UpdateTestimonio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTestimonio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/DeleteTestimonio" message="tns:IServicioTestimonio_DeleteTestimonio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/DeleteTestimonioResponse" message="tns:IServicioTestimonio_DeleteTestimonio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestimonio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/GetTestimonio" message="tns:IServicioTestimonio_GetTestimonio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/GetTestimonioResponse" message="tns:IServicioTestimonio_GetTestimonio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTestimonio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTestimonio/GetAllTestimonio" message="tns:IServicioTestimonio_GetAllTestimonio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTestimonio/GetAllTestimonioResponse" message="tns:IServicioTestimonio_GetAllTestimonio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpsBinding_IServicioTestimonio" type="tns:IServicioTestimonio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/InsertTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/UpdateTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/DeleteTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/GetTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTestimonio">
      <soap:operation soapAction="http://tempuri.org/IServicioTestimonio/GetAllTestimonio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioTestimonio">
    <wsdl:port name="basicHttpsBinding_IServicioTestimonio" binding="tns:basicHttpsBinding_IServicioTestimonio">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Chambix/ServicioTestimonio/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>