www/Chambix/WEB_Chambix/Connected Services/ServicioCategoriaAz/ServicioCategoria2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Chambix" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoriaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaBE" nillable="true" type="tns:CategoriaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaBE" nillable="true" type="tns:ArrayOfCategoriaBE" />
  <xs:complexType name="CategoriaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="create_at" type="xs:dateTime" />
      <xs:element minOccurs="0" name="create_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:short" />
      <xs:element minOccurs="0" name="nombreCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="update_at" type="xs:dateTime" />
      <xs:element minOccurs="0" name="update_by" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaBE" nillable="true" type="tns:CategoriaBE" />
</xs:schema>