www/Chambix/WEB_Chambix/Connected Services/ServicioCategoriaAz/ServicioCategoria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCategoria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServicioCategoria_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioCategoria.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioCategoria.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioCategoria.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCategoria_GetAllCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioCategoria_GetAllCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCategoria_InsertCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioCategoria_InsertCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCategoria_UpdateCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioCategoria_UpdateCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCategoria_DeleteCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioCategoria_DeleteCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoriaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioCategoria">
    <wsdl:operation name="GetAllCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCategoria/GetAllCategoria" message="tns:IServicioCategoria_GetAllCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCategoria/GetAllCategoriaResponse" message="tns:IServicioCategoria_GetAllCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCategoria/InsertCategoria" message="tns:IServicioCategoria_InsertCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCategoria/InsertCategoriaResponse" message="tns:IServicioCategoria_InsertCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCategoria/UpdateCategoria" message="tns:IServicioCategoria_UpdateCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCategoria/UpdateCategoriaResponse" message="tns:IServicioCategoria_UpdateCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCategoria/DeleteCategoria" message="tns:IServicioCategoria_DeleteCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCategoria/DeleteCategoriaResponse" message="tns:IServicioCategoria_DeleteCategoria_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioCategoria" type="tns:IServicioCategoria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioCategoria/GetAllCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioCategoria/InsertCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioCategoria/UpdateCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioCategoria/DeleteCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServicioCategoria" type="tns:IServicioCategoria">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServicioCategoria_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioCategoria/GetAllCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioCategoria/InsertCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioCategoria/UpdateCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioCategoria/DeleteCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCategoria">
    <wsdl:port name="BasicHttpBinding_IServicioCategoria" binding="tns:BasicHttpBinding_IServicioCategoria">
      <soap:address location="http://chambixwcf20210708224304.azurewebsites.net/ServicioCategoria.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServicioCategoria" binding="tns:BasicHttpsBinding_IServicioCategoria">
      <soap:address location="https://chambixwcf20210708224304.azurewebsites.net/ServicioCategoria.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>