www/Chambix/WEB_Chambix/Connected Services/ServicioServicio/ServicioServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServicioServicio_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://chambixwcf20210708224304.azurewebsites.net/ServicioServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Chambix" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioServicio_InsertServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertServicio" />
  </wsdl:message>
  <wsdl:message name="IServicioServicio_InsertServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioServicio_UpdateServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServicio" />
  </wsdl:message>
  <wsdl:message name="IServicioServicio_UpdateServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioServicio_GetServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServicio" />
  </wsdl:message>
  <wsdl:message name="IServicioServicio_GetServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioServicio_GetAllServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServicio" />
  </wsdl:message>
  <wsdl:message name="IServicioServicio_GetAllServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServicioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioServicio">
    <wsdl:operation name="InsertServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioServicio/InsertServicio" message="tns:IServicioServicio_InsertServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioServicio/InsertServicioResponse" message="tns:IServicioServicio_InsertServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioServicio/UpdateServicio" message="tns:IServicioServicio_UpdateServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioServicio/UpdateServicioResponse" message="tns:IServicioServicio_UpdateServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioServicio/GetServicio" message="tns:IServicioServicio_GetServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioServicio/GetServicioResponse" message="tns:IServicioServicio_GetServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioServicio/GetAllServicio" message="tns:IServicioServicio_GetAllServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioServicio/GetAllServicioResponse" message="tns:IServicioServicio_GetAllServicio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioServicio" type="tns:IServicioServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertServicio">
      <soap:operation soapAction="http://tempuri.org/IServicioServicio/InsertServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServicio">
      <soap:operation soapAction="http://tempuri.org/IServicioServicio/UpdateServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServicio">
      <soap:operation soapAction="http://tempuri.org/IServicioServicio/GetServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServicio">
      <soap:operation soapAction="http://tempuri.org/IServicioServicio/GetAllServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServicioServicio" type="tns:IServicioServicio">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServicioServicio_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertServicio">
      <soap:operation soapAction="http://tempuri.org/IServicioServicio/InsertServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServicio">
      <soap:operation soapAction="http://tempuri.org/IServicioServicio/UpdateServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServicio">
      <soap:operation soapAction="http://tempuri.org/IServicioServicio/GetServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServicio">
      <soap:operation soapAction="http://tempuri.org/IServicioServicio/GetAllServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioServicio">
    <wsdl:port name="BasicHttpBinding_IServicioServicio" binding="tns:BasicHttpBinding_IServicioServicio">
      <soap:address location="http://chambixwcf20210708224304.azurewebsites.net/ServicioServicio.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServicioServicio" binding="tns:BasicHttpsBinding_IServicioServicio">
      <soap:address location="https://chambixwcf20210708224304.azurewebsites.net/ServicioServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>